body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  overflow: scroll;
  background-color: white;
}

#canvas {
  width: 4000px;
  height: 3000px;
  position: relative;
}

.project {
  position: absolute;
}

.project img {
  width: 500px;
  animation: float 3s ease-in-out infinite;
}

/* Beweging */
@keyframes float {
  0%   { transform: translate(0px, 0px) rotate(0deg); }
  50%  { transform: translate(600px, -800px) rotate(30deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}
